services:
  finn:
    build:
      context: .
    image: finn:latest
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - /home/pi/mnt/storage:/app/data

    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "3"
