@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717; 
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b191d; 
    --foreground: #ededed;  
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed; 
    --foreground: #0a0a0a; 
  }
}

body {
  overflow: hidden;
  color: var(--foreground);
  font-family: var(--font-sans);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.custom-buttom {
  text-align: center;
  padding: 8px;
  width: fit-content;
  min-width: 36px;
  border-radius: 8px;
  transition: background-color 200ms linear;
}
.custom-buttom-round {
  background-color: transparent;
  text-align: center;
  padding: 8px;
  width: 36px;
  height: 36px; 
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
  
  transition: background-color 200ms linear;
}


.custom-buttom-round:hover {
  background-color: rgba(10, 10, 10, 0.2);
}
.custom-buttom:hover {
  cursor:pointer;
  background-color: #a06b27;
}

.custom-buttom:disabled {
  cursor:default;
  background-color: #a06b27;
}
.menu {
  
}

.menu-outline {
  opacity: 0;
  width: 1px;
  transition: opacity 300ms ease;
}

.menu:hover .menu-outline {
  opacity: 0.6;
}

.menu-item {
  position: relative;
  transition: padding 200ms ease, transform 200ms ease;
  transform: translate(50%, 50%);
  transform: translateX(0)
}

.menu-item::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -55px; 
  right: -55px; 
  bottom: -20px;
  background: transparent;
  z-index: 50; 
}

.menu-item:hover {
  transform: translateX(30%);
  
}
.menu-item::after:hover {
  
  transform: translateX(50%);
}
.menu-item:hover, .menu-outline{
  margin-left: -4px;
}


.modal-border {
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  transition: opacity 0.3s ease;
  opacity: 0.3;
}

.modal:hover .modal-border {
  opacity: 0.8;
}

.transparent-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.transparent-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.transparent-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.chip {
  transition: background-color ease 300ms;
}
