@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717; 
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b191d; 
    --foreground: #ededed;  
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed; 
    --foreground: #0a0a0a; 
  }
}

body {
  overflow: hidden;
  color: var(--foreground);
  font-family: var(--font-sans);
}


.nav-bar-item {
  background-color: transparent;
  text-align: center;
  padding: 8px;
  width: fit-content;
  min-width: 36px;
  border-radius: 50%;
}
.nav-bar-item-round {
  background-color: transparent;
  text-align: center;
  padding: 8px;
  width: 36px;
  height: 36px; 
  border-radius: 50%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}


.nav-bar-item:hover, .nav-bar-item-round:hover {
  background-color: rgba(10, 10, 10, 0.3);
  transition: background-color 200ms linear;
}

.menu {
  
}

.menu-outline {
  opacity: 0;
  width: 1px;
  transition: opacity 300ms ease;
}

.menu:hover .menu-outline {
  opacity: 0.6;
}

.menu-item {
  position: relative;
  transition: padding 200ms ease, transform 200ms ease;
  transform: translate(50%, 50%);
  transform: translateX(0)
}

.menu-item::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -55px; 
  right: -55px; 
  bottom: -20px;
  background: transparent;
  z-index: 50; 
}

.menu-item:hover {
  transform: translateX(30%);
  
}
.menu-item::after:hover {
  
  transform: translateX(50%);
}
.menu-item:hover, .menu-outline{
  margin-left: -4px;
}

.modal-border {
  transition: background 0.3s ease;
}

.modal-border:hover {
  background: white;
}