name: release
on:
  push:
    branches: ["main"]
env:
  API_BASE_URL: http://10.0.0.187:30001/api
  IMAGE_NAME: finn
jobs:
  release:
    runs-on: self-hosted
    permissions: write-all
    outputs:
      outputTag: ${{ steps.changelog.outputs.tag }}

    steps: 
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set Tag
        id: changelog
        uses: TriPSs/conventional-changelog-action@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          skip-commit: "true"
          skip-tag: "true"

      - name: Build 
        uses: docker/build-push-action@v4
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        with:
          push: false
          file: ./Dockerfile
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.changelog.outputs.tag }}
            ${{ env.IMAGE_NAME }}:latest
          labels: |
            org.opencontainers.image.version=${{ steps.changelog.outputs.tag }}
          no-cache: true
          build-args: |
            API_BASE_URL=${{ env.API_BASE_URL }}
            
      - name: Push Release
        uses: actions/create-release@v1
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}

      # - name: Update Kubernetes Pod
      #   run: microk8s kubectl set image deployment/finn-deployment app=localhost:32000/finn:${{steps.changelog.outputs.tag}} -n finn
